/*  your css code here. If applicable */
#container::before {
    content: "Before Content";
    display: inline;
    color: #f00;
    font-size: 20px;
}

#container::after {
    content: "After Content";
    display: inline;
    color: #f00;
    font-size: 20px;
}
